{% extends "layout.html" %}

{% block content %}


<div class="row">
    <div class="col-md-8">
        <div class="title-container">
            <h1 class="title">Learn how to Slide Puzzle</h1>
            <p class="subtitle">In under 10 minutes, you can master the whole strategy</p>
            <br>
            <button id="toLearn" class="styled-button">Learn Now</button>
        </div>
    </div>
    <div class="col-md-4">
        Put puzzle here @Judah
    </div>

<script>
$("#toLearn").click(function(){
    window.location.href = '/row';
});
</script>

{% endblock %}

