{% extends "layout.html" %}

{% block content %}

<head>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename = 'welcome.js') }}"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'> -->
</head>
<body>
    <div>
        <div class="row title-layout">
            Learn how to Solve a Slide Puzzle
        </div>
    </div>
    
</body>

{% endblock %}

