<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="data:,">

<!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">



    <title>Slide Puzzles yay</title>
  </head>
  <body>
    

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand serif" href="/">Board Game DataBase</a>
        <a class="nav-link active serif white cen" aria-current="page" href="/learn/1">Learn</a>
        <form id="searchForm" class="d-flex">
          <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search" id="search" autocomplete="off">
          <button id="searchButton" class="btn btn-outline-light serif" type="submit">Search</button>
        </form>  
      </div>
    </nav>
    

    <div>
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>