{% extends "layout.html" %}

{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='learn.js') }}"></script>
</head>

<div class="row">
    <div class="col-md-4">
        <h2> Step {{id}} </h2>
        <h3>{{description}}</h3>
    </div>

    <div class="col-md-4 text-center justify-content-center align-items-center top-padding">
        <div id="success" data-step = '{{id}}'></div>
        <div id="source">
        </div>
        <button id="backButton" class="styled-button mt-3">Back</button>
        <button id="quizButton" class="styled-button mt-3">Quiz yourself</button>
        <button id="nextButton" class="styled-button mt-3">Next</button>
    </div>

    <div class="col-md-4">
        <!--Roll down - show solution -->
        <button id="strategyButton" class="styled-button">Stack and Slide Strategy</button>
            <div id="strategy" class="strategy-container">
                <h4>Stack and Slide Strategy</h4>
                <p> In such a scenario, when we need to add two more elements to a row or collumn: <br></p>
            </div>
            
        <br>

        <button id="instructionsButton" class="styled-button">Show me How</button>
            <div id="instructions" class="instructions-container">
                <p>This is where we will add instructions or a blurb.</p>
                <p>The GIF showing the user what to do will go here:</p>
                
                <div id="visual">
                    <button id="showSolution" class="styled-button">Show Solution</button>
                </div>
            </div>
            
    </div>
</div>

<script>

let lay = '{{ layout | tojson | safe }}';
let grid_use = JSON.parse(lay);
let sourceDiv = document.getElementById('source');
sourceDiv.appendChild(buildPuzzle(grid_use));
//$(".start .cell").click(moveTile('{{id}}'));
let visualDiv = document.getElementById('visual');
let lay_list = '{{ lay_list | tojson | safe }}';
let lay_use = JSON.parse(lay_list);
visualDiv.appendChild(buildPuzzList(lay_use));

let sol = '{{ solution | tojson | safe }}';
let solution = JSON.parse(sol);
$("#showSolution").click(function(){
    solveStep(solution)
})

</script>
{% endblock %}