{% extends "layout.html" %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='learn.js') }}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Required meta tags -->
 
</head>

<div class="row">
    <div class="col-md-4" >
        <div class="card-body intruction-card  color">
           
            <h2> <strong> <span class="stepcol">Step {{id}} </span></strong> </h2>
            <h3 class="stepcol2" id="description"> <span class="stepcol">{{ description }}</span></h3>
         
    </div>
    </div>

    <div class="col-md-4 text-center justify-content-center align-items-center">
        <div class="container top-padding">

        <div id="source"> </div>
        <div class="row">
            <div class="card-body click-card2 "  id="success-card">
                <div class="row">
                    <span class="stepcol green" id="success" data-step = '{{id}}'></span>
                </div>
            
        </div>
            <div class="row">
                <div class="card-body click-card">
                    <div class="row">
                        <span class="stepcol" id="click ">Click the squares to move</span>
                        <span><i class=" stepcol cursor fa-solid fa-arrow-pointer fa-beat fa-xl"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <button id="backButton" class="styled-button mt-3">Back</button>
        <button id="quizButton" class="styled-button mt-3">Quiz yourself</button>
        <button id="nextButton" class=" pulse-button styled-button mt-3">Next</button>
    </div>
    </div>

    <div class="col-md-4">
        <div class="container top-padding-less">
        <!--Roll down - show solution -->
        <button id="strategyButton" class="styled-button">Stack and Slide Strategy</button>
            <div id="strategy" class="strategy-container">
                <h4>Stack and Slide Strategy</h4>
                <p>
                    We stack the tiles in such a way <strong>now</strong>, so that all we have to do 
                    <strong>later</strong> is shuffle them around.
                    <br><br>
                    <strong>For rows:</strong> Place the tile with the higher number in the slot we ultimately want the lower number going. Then, put the lower-numbered tile right below it.
                    <br><br>
                    <strong>For columns:</strong> use the same technique, but align them side by side.
                    <br><br>
                    Once you've set them up like this, shuffling them into the correct spots becomes super easy—you'll see!
                    <br><br>
                </p>
                    <video width="210" height="200" controls>
                        <source src="{{ url_for('static', filename='images/s+s_23.mp4') }}" type="video/mp4">
                    </video>
                    <video width="210" height="200" controls>
                        <source src="{{ url_for('static', filename='images/s+s_47.mp4') }}" type="video/mp4">
                    </video>
                
            </div>
       
            
        <br>

        <button id="instructionsButton" class="styled-button">
            <span>Show me How </span>
             <span id="bold">&or;</span> </button>
            <div id="instructions" class="instructions-container">
                <p> Note:   There are <strong>many</strong> different ways you can move the tiles to achieve your
                desired result. This video might not be your exact board, but it could inspire movement!</p>
                
                <video width="320" height="240" controls>
                    <source src="{{ url_for('static', filename='images/good1.mp4') }}" type="video/mp4">
                </video> 
                <!-- _____________________________________________
                <div id="visual">
                    <button id="showSolution" class="styled-button">Show Solution</button>
                </div> -->
            </div>
        </div>
    </div>

</div>


<script>
document.addEventListener('DOMContentLoaded', (event) => {
    // Get the description element
    var descriptionElement = document.getElementById('description');

    // Get the text content of the description
    var descriptionText = descriptionElement.textContent;

    // Split the description text into an array of characters
    var characters = descriptionText.split('');

    // Create a new HTML string with each number wrapped in a span element with a class
    var styledDescription = '';
    characters.forEach(function(char) {
        if (!isNaN(char)) { // Check if the character is a number
            // If it's a number, wrap it in a span element with a class for styling
            styledDescription += '<span class="number">' + char + '</span>';
        } else {
            // If it's not a number, just add it to the string as is
            styledDescription += char;
        }
    });

    // Set the innerHTML of the description element to the styled description
    descriptionElement.innerHTML = styledDescription;
});

let lay = '{{ layout | tojson | safe }}';
let grid_use = JSON.parse(lay);
let sourceDiv = document.getElementById('source');
sourceDiv.appendChild(buildPuzzle(grid_use));
//$(".start .cell").click(moveTile('{{id}}'));
let visualDiv = document.getElementById('visual');
let lay_list = '{{ lay_list | tojson | safe }}';
let lay_use = JSON.parse(lay_list);
visualDiv.appendChild(buildPuzzList(lay_use));

let sol = '{{ solution | tojson | safe }}';
let solution = JSON.parse(sol);
$("#showSolution").click(function(){
    solveStep(solution)
})

</script>
{% endblock %}