{% extends "layout.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">
</head>


</head>
<div class="container">
    <div class="row">
        <div class="col-md-12">

    <h1 class=" stepcol text-center mb-4 center">Quiz Results</h1>
        </div>
    </div>

    
   
    <div class="row">
        <div class="col-md-4">
            <div class="mt-4 results center">
                <div class="card Q-card">
                    <div class="card-body">
                        <h5 class="card-title">Question 1</h5>
                        <span> <i class="card-text fa-regular fa-clock fa-flip-horizontal fa-sm"></i></span>
                            <span class="card-text">{{ time[0] }} seconds</p></span>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container-fluid check_container">
                                    {% if quiz_results[0] %}
                                        <div class="passed-icon"><i class="fa-solid fa-star fa-beat"></i></div>
                                    {% else %}
                                        <div class="failed-icon"><i class="fa-regular fa-star"></i></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         
    
        <div class="col-md-4">
            <div class="mt-4 results center">
                <div class="card Q-card">
                    <div class="card-body">
                        <h5 class="card-title">Question 2</h5>
                        <span> <i class="card-text fa-regular fa-clock fa-flip-horizontal fa-sm"></i></span>
                            <span class="card-text">{{ time[1] }} seconds</p></span>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container-fluid check_container">
                                    {% if quiz_results[1] %}
                                        <div class="passed-icon"><i class="fa-solid fa-star fa-beat"></i></div>
                                    {% else %}
                                        <div class="failed-icon"><i class="fa-regular fa-star"></i></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
        
            <div class="col-md-4">
                <div class="mt-4 results center">
                    <div class="card Q-card">
                        <div class="card-body">
                            <h5 class="card-title">Question 3</h5>
                            <span> <i class="card-text fa-regular fa-clock fa-flip-horizontal fa-sm"></i></span>
                                <span class="card-text">{{ time[2] }} seconds</p></span>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="container-fluid check_container">
                                        {% if quiz_results[2] %}
                                            <div class="passed-icon"><i class="fa-solid fa-star fa-beat"></i></div>
                                        {% else %}
                                            <div class="failed-icon"><i class="fa-regular fa-star"></i></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        
          
</div>
    <div class="row">

        
    </div>
    
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <button id="retakeQuiz" class="styled-button">Retake quiz</button>
        <button id="solvePuzzle" class="styled-button">Solve a Puzzle</button>
    </div>
</div>

<script>
    function retakeQuizBut() {
        // Click event handler for the retake quiz button
        $("#retakeQuiz").click(function () {
        window.location.href = "/quiz/1";
        });
    }
    function solvePuzzleBut() {
        // Click event handler for the retake quiz button
        $("#solvePuzzle").click(function () {
        window.location.href = "/quiz/1";  //ADD ROUTE FOR SOLVE PUZZLE
        });
    }
    retakeQuizBut();
    solvePuzzleBut();
</script>

{% endblock %}