{% extends "layout.html" %}

{% block content %}
<div id="popupContainer" class="popup">
   
    <div class="popup-content">
        <div class="row" id="header">
            Stack and Slide Strategy
        </div>
        <div class="row">

            In such a scenario, when we need to add two more elements to a row or collumn: <br>

        <div class="row" >
            <div id="left">
            1) Position the element with the<span id="header">&nbsp;higher number </span>&nbsp;in the&nbsp;<span id="header">slot where </span>&nbsp;the
              element with the <span id="header"> lower number </span>&nbsp;needs to reach. 
            </div>
        <div class="row">
            <div id="left">
              2) <span id="header"> Line up </span>&nbsp;the&nbsp;<span id="header"> 
                    lower number </span>&nbsp;adjacently&nbsp;<span id="header"> protruding </span>&nbsp;from that row or column.
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <a href="https://imgbb.com/"><img 
                src="https://i.ibb.co/bJGvCjY/Screenshot-2024-04-17-at-12-05-25-PM.png"
                 alt="picture of stack and slide" border="0"></a>

        </div>
        <div class="row">
            <button id="exitButton" class="styled-button">Back to learning > </button>
        </div>
    </div>
</div>

<script>
        function exit_strategy_page(){
            console.log("made it here");
            let originPage = window.location.pathname.split('/').pop();
        // Click event handler for the exit button
            $('#exitButton').click(function() {
                // if came to strategy page from 1, then go to 2 now
                if (originPage == 1 ){
                    window.location.href = '/learn/2';  // go to next step ( this is first time they learn it)
                } else {
                    window.location.href = '/learn/' + originPage; // Redirect back to the page they were on
                }
            });
    }
    exit_strategy_page();
    
</script>
{% endblock %}
